# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
*.egg-info/
dist/
build/

# Docker
*.log
docker-compose.override.yml
**/__pycache__/
**/*.pyc

.env
.env-production

# pytest
.pytest_cache/
.coverage
htmlcov/